@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
$f1:"Montserrat",sans-serif;
$f2:"Raleway",sans-serif;
$f3:"Inter",sans-serif;
body{
    font-family:$f1;
}
p{
    font-family:$f2;
}
.links{
    div{
        box-shadow: 10px 10px 5px lightcyan;
        display: inline-flex;
    }
    h3{
        font-weight: bold;
        font-family:$f3;
    }
    p{
        font-family: $f1;
    }
}