@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
body {
  font-family: "Montserrat", sans-serif; }

p {
  font-family: "Raleway", sans-serif; }

.links div {
  box-shadow: 10px 10px 5px lightcyan;
  display: inline-flex; }

.links h3 {
  font-weight: bold;
  font-family: "Inter", sans-serif; }

.links p {
  font-family: "Montserrat", sans-serif; }
